form{
    width: 450px;
    margin: auto;
    background: rgba(0, 0 ,0 , 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    h2{
        color: #000;
        text-align: center;
        margin: 0;
        font-size: 30px;
        margin-bottom: 20px;
    }
    input, textarea{
        width: 100%;
        margin-bottom: 20px;
        padding: 7px;
        box-sizing: border-box;
        font-size: 17px;
        border: none;
    }
    textarea{
        min-height: 100px;
        max-height: 200px;
        max-width: 100%;
    }
    .boton{
        background-color: #fe8100;
        padding: 20px;
        color: #fff;
    }
}
@media screen and (max-width: 416px) {
    form{
        width: 100%;
        h2{
            color: #ebebeb;
        }
        .boton{
            color: #ebebeb;
        }
    }        
}
